/**
*
* Z-Index
*
*/

$zindex-dropdown: 100;

$zindex-fixed: 201;

$zindex-sticky: 501;

$zindex-sidebar: 601;

$zindex-modal: 2001;

$zindex-message: 2101;

$zindex-toast: 2201;

$zindex-loading: 3001;
