/**
*
* Z-Index
*
*/

$zindex-dropdown: 100 !default;

$zindex-fixed: 201 !default;

$zindex-sticky: 501 !default;

$zindex-sidebar: 601 !default;

$zindex-modal: 2001 !default;

$zindex-message: 2101 !default;

$zindex-toast: 2201 !default;

$zindex-loading: 3001 !default;
